<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sapjavaudemy2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- INICIO: METODO DE AUTENTICACION -->
	  <login-config>
	  <!-- Metodo de autenticacion FORM -->
	  	<auth-method>FORM</auth-method>
	  </login-config>
  <!-- FIN: METODO DE AUTENTICACION -->
  
  <!-- INICIO: CONFIGURACIONES DE ROLES DE LA APLICACION -->
  
  <!-- ROL DE DESARROLLADOR -->
  <security-constraint>
   <web-resource-collection>
   	<web-resource-name>Pagina de desarrollador</web-resource-name>
   	<url-pattern>/developer</url-pattern>
   </web-resource-collection>
   <auth-constraint>
  	<role-name>Developer</role-name>
   </auth-constraint>
  </security-constraint>
  
  <!-- ROL DE ADMINISTRADOR -->
  <security-constraint>
   <web-resource-collection>
   	<web-resource-name>Pagina de desarrollador</web-resource-name>
   	<url-pattern>/sapApp</url-pattern>
   </web-resource-collection>
   <auth-constraint>
  	<role-name>Manager</role-name>
   </auth-constraint>
  </security-constraint>
  

  <!-- FIN: CONFIGURACIONES DE ROLES DE LA APLICACION -->
</web-app>